:root {
    --yellow: #F5C32C;
    --orange: #FCA61F;
    --black: #242D49;
    --gray: #788097;
    --blueCard: #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}
@font-face {
    font-family: Gumela;
    src: url(fonts/Gumela-Regular.otf) format("opentype");
}

body {
    height: 100%;
    margin: 0;
    color: var(--black);
    font-family: Gumela, serif;
    font-weight: normal;
    font-size: 1.25rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.35%);
    box-shadow: 0 20px 24px 3px rgba(252, 161, 40, 0.42);
}

button:hover {
    background: white;
    color: var(--orange);
    border: 1px solid var(--orange);
    cursor: pointer;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}
